{% extends "layout.html" %}

{% block title %}
    Astronomy Picture of the Day
{% endblock %}

{% block main %}
<header class="site-header" aria-label="Site">
    <div class="inside-header grid-container grid-parent">
        <div class="site-branding-container">
            <div class="site-branding">
                <p class="main-title" itemprop="headline">
                    <h1 class="text-white fst-italic fw-bold tit text-center">{{ title }}</h1>
                </p>
            </div>
        </div>
    </div>
</header>

<div>
    <img src="{{image_url}}" width="600" height="auto">
</div>

<div class="container">
    <div class="p-4 p-md-5 mb-4 mt-5 text-white rounded bg-dark">
        <div class="col-md-12 px-0">
            {{explanation}}
        </div>
    </div>
</div>
{% endblock %}