{% extends "layout.html" %}

{% block title %}
    Distance Calculator
{% endblock %}

{% block main %}
    <p1>
        <h3>Calculate the distance from </h3>
        <form action="/distcalc" method="post">
            <div class="mb-3">
                <select name="place1" id="place1">
                    <option disabled selected>This Planet</option>
                    {% for place1 in places %}
                        <option value="{{ place1 }}">{{ place1 }}</option>
                    {% endfor %}
                </select>
            </div>
        <h3> to </h3>
            <div class="mb-3">
                <select name="place2" id="place2">
                    <option disabled selected>This Planet</option>
                    {% for place2 in places %}
                        <option value="{{ place2 }}">{{ place2 }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Find Out</button>
        </form>
    </p1>
{% endblock %}

