{% extends "layout.html" %}

{% block title %}
    Distance Calculator
{% endblock %}


{% block main %}
    <header class="site-header" aria-label="Site">
        <div class="inside-header grid-container grid-parent">
            <div class="site-branding-container">
                <div class="site-branding">
                    <p class="main-title" itemprop="headline">
                        <h1 class="text-white fst-italic fw-bold tit text-center">Distances between planets</h1>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <div class="bg-dark p-5 text-white rounded">
        <div class="container-fluid">
            <div class="col-sm-8 mx-auto">
                <p1>
                    <h3>Calculate the distance from </h3>
                    <form action="/distcalc" method="post">
                        <div class="mb-3">
                            <select name="place1">
                                <option disabled selected >This Planet</option>
                                {% for place1 in places %}
                                    <option id="place1" value="{{ place1 }}">{{ place1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <h3> to </h3>
                        <div class="mb-3">
                            <select name="place2">
                                <option disabled selected >This Planet</option>
                                {% for place2 in places %}
                                    <option id="place2" value="{{ place2 }}">{{ place2 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-dark" type="submit" id="find">Find Out</button>
                        {% if request.method == 'POST' %}
                            <p class="warning"><span class="warning-message" style="color:Tomato;">You must pick both places!</span></p>
                        {% else %}
                            <p></p>
                        {% endif %}
                    </form>
                </p1>
            </div>
        </div>
    </div>
{% endblock %}

