{% extends "layout.html" %}

{% block title %}
    Astrology 
{% endblock %}

{% block main %}
    <header class="site-header" aria-label="Site">
        <div class="inside-header grid-container grid-parent">
            <div class="site-branding-container">
                <div class="site-branding">
                    <p class="main-title" itemprop="headline">
                        <h1 class="text-white fst-italic fw-bold tit text-center">Corious about outer space?</h1>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 py-5" id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-8 shadow-lg card-img" width="300" height="auto" style="background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white text-center">Enigmatic Cosmic Mysteries</h2>
                    </div>
                </div>
            </div>
            <div class="col" >
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-8 shadow-lg card-img" width="300" height="auto" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80.jpg');" >
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white text-center">Mistery</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-12 px-0">
                <h1 class="display-4 fst-italic">Solar system exploration</h1>
                <div class="tabs_grid_container">
                    <div class="tabs_grid_img">
                        <img src="https://wallpapercave.com/wp/wp4047226.jpg" width="300" height="auto">
                    </div>
                    <div class="tabs_grid_desc">
                        <h3>Mercury</h3>
                        <div>Mercury—the smallest planet in our solar system and closest to the Sun—is only slightly larger than Earth's Moon. Mercury is the fastest planet, zipping around the Sun every 88 Earth days.</div>
                    </div>
                </div>
                <div class="tabs_grid_container">
                    <div class="tabs_grid_img">
                        <img src="https://wallpapercave.com/wp/wp7589132.jpg" width="300" height="auto">
                    </div>
                    <div class="tabs_grid_desc">
                        <h3>Venus</h3>
                        <div>Venus spins slowly in the opposite direction from most planets. A thick atmosphere traps heat in a runaway greenhouse effect, making it the hottest planet in our solar system.</div>
                    </div>
                </div>
                <div class="tabs_grid_container">
                    <div class="tabs_grid_img">
                        <img src="https://mcdn.wallpapersafari.com/medium/99/43/PzWHSU.jpg" width="300" height="auto">
                    </div>
                    <div class="tabs_grid_desc">
                        <h3>Earth</h3>
                        <div>Earth—our home planet—is the only place we know of so far that’s inhabited by living things. It's also the only planet in our solar system with liquid water on the surface.</div>
                    </div>
                </div>
                <div class="tabs_grid_container">
                    <div class="tabs_grid_img">
                        <img src="https://scitechdaily.com/images/Mars-Red-Planet-scaled.jpg" width="300" height="auto">
                    </div>
                    <div class="tabs_grid_desc">
                        <h3>Mars</h3>
                        <div>Mars is a dusty, cold, desert world with a very thin atmosphere. There is strong evidence Mars was – billions of years ago – wetter and warmer, with a thicker atmosphere.</div>
                    </div>
                </div>
                <div class="tabs_grid_container">
                    <div class="tabs_grid_img">
                        <img src="https://wallpaperaccess.com/full/223952.jpg" width="300" height="auto">
                    </div>
                    <div class="tabs_grid_desc">
                        <h3>Jupiter</h3>
                        <div>Jupiter is more than twice as massive than the other planets of our solar system combined. The giant planet's Great Red spot is a centuries-old storm bigger than Earth.</div>
                    </div>
                </div>
                <div class="tabs_grid_container">
                    <div class="tabs_grid_img">
                        <img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGQzNi0yLXBpYTExMTQxX29yaWcuanBn.jpg" width="300" height="auto">
                    </div>
                    <div class="tabs_grid_desc">
                        <h3>Saturn</h3>
                        <div>Adorned with a dazzling, complex system of icy rings, Saturn is unique in our solar system. The other giant planets have rings, but none are as spectacular as Saturn's.</div>
                    </div> 
                </div>
                <div class="tabs_grid_container">
                    <div class="tabs_grid_img">
                        <img src="https://www.astronomytrek.com/wp-content/uploads/2012/11/uranus-1.jpg" width="300" height="auto">
                    </div>
                    <div class="tabs_grid_desc">
                        <h3>Uranus</h3>
                        <div>Uranus—seventh planet from the Sun—rotates at a nearly 90-degree angle from the plane of its orbit. This unique tilt makes Uranus appear to spin on its side.</div>
                    </div> 
                </div>
                <div class="tabs_grid_container">
                    <div class="tabs_grid_img">
                        <img src="https://wallpapercave.com/wp/wp1898930.jpg" width="300" height="auto">
                    </div>
                    <div class="tabs_grid_desc">
                        <h3>Neptune</h3>
                        <div>Neptune—the eighth and most distant major planet orbiting our Sun—is dark, cold and whipped by supersonic winds. It was the first planet located through mathematical calculations.</div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}